<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index Page</title>
  </head>
  <body>
    <h1>SELAMAT DATANG DI SEKOLAH</h1>
    <button> <a href="/teacher">Halaman Guru</a></button>
    <button> <a href="/subject">Halaman Mata Pelajaran</a></button>
    <button> <a href="/student">Halaman Murid</a></button>
  </body>
</html>
