<!DOCTYPE html>
<html>
  <head>
    <%- include layout/page-header %>
  </head>
  <body>
    <h1>Tambah Data Mata Pelajaran</h1>
    <%- include layout/menu %>
    <br>
    <button id="btn-back" onclick="window.location='/subject'">Back</button>
    <div>
      <form id="main-form" class="modal-content animate" name="mainForm" action="/subject" method="post">
        <div class="container">
          <label><b>Mata Pelajaran</b></label>
          <input type="text" name="subject_name" placeholder="Isi nama mata pelajaran" />
          <div>
            <button type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
