<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Teacher Page</title>
  </head>
  <body>
    <h1>Tambah Data Guru</h1>
    <div>
      <form action="/teacher" method="post">
          <label><b>First Name</b></label>
          <input type="text" name="first_name" placeholder="Isi nama depan" />
          <label><b>Last Name</b></label>
          <input type="text" name="last_name" placeholder="Isi nama belakang" />
          <label><b>Email</b></label>
          <input type="text" name="email" placeholder="Isi email" />
          <label><b>Subject</b></label>
          <!-- <input type="text" name="SubjectId" placeholder="Isi subject" /> -->
          <select name="selectSubject">
            <option value="">--Select Subject--</option>
            <% data2.forEach(function(d2){ %>
            <option value="<%= d2.id %>"><%= d2.id %> <%= d2.subject_name %></option>
            <% }) %>
          </select>
          <div>
            <button type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
