<button id="btn-start" onclick="window.location='/'">Beranda</button>
<div class="dropdown">
  <button id="btn-start" class="dropbtn" onclick="window.location='/teacher'">Halaman Guru</button>
  <div class="dropdown-content">
    <a href="/teacher/add">Tambah Data Guru</a>
  </div>
</div>
<div class="dropdown">
  <button id="btn-start" onclick="window.location='/subject'">Halaman Mata Pelajaran</button>
  <div class="dropdown-content">
    <a href="/subject/add">Tambah Data Mata Pelajaran</a>
  </div>
</div>
<div class="dropdown">
  <button id="btn-start" onclick="window.location='/student'">Halaman Murid</button>
  <div class="dropdown-content">
    <a href="/student/add">Tambah Data Murid</a>
  </div>
</div>
